<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gb.comp3074_assignment2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.DialogWhenLarge.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayPatientActivity" />
        <activity android:name=".DisplayTestActivity" />
        <activity android:name=".DoctorMainActivity" />
        <activity android:name=".EnterPatientActivity" />
        <activity android:name=".EnterTestActivity" />
        <activity android:name=".NurseMainActivity" />
        <activity android:name=".DisplayTestInfoActivity" />
        <activity android:name=".PatientTestSelection" />
        <activity android:name=".ChooseTestActivity" />
        <activity android:name=".classes.DisplayPatientInfoActivity"></activity>
    </application>

</manifest>